*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100vh;
	font-weight: bold;
	font-size: 1.5rem;
}

ul {
    list-style: none;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    
}

li {
    height: 70%;
    width: 70%;
    display: grid;
    grid-template-rows: 1fr 3fr;
    place-items: center;
    border: 3px solid #727272;
	background: #F7F7F7;
    border-radius: 10px;
}

.icon {
    width: 100%;
    height: 100%;
}

.i-html, .i-css, .i-js {
    background-image: url('0-sprite.png');
    background-size: cover;
}

.i-html {
    background-position: 0% 400%;
}

.i-css {
    background-position: 50% 50%;
}

.i-js {
    background-position: 105% 75%;
}
